.nobreak {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  display: table;
}
/* Your Custom code here */
.wrapper {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}
/*
Header Styles
*/
.top_header {
  height: 105px;
  background: #FFFFFF;
  position: relative;
}
.top_header .wrapper {
  overflow: hidden;
}
.top_header .top_navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #262626;
  z-index: 99;
}
.top_header .top_navigation .wrapper {
  position: relative;
}
.top_header .top_navigation .wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: -4px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 4px 3.5px;
  border-color: transparent transparent #262626 transparent;
}
.top_header .top_navigation .donate_button {
  float: right;
  display: block;
  height: 90px;
}
.top_header .top_navigation .donate_button a {
  height: 87px;
  display: block;
  color: #eedf9c;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 90px;
  text-transform: uppercase;
  border-bottom: 3px solid #eedf9c;
  font-weight: 600;
}
.top_header .top_navigation .ale_headermenu {
  line-height: 90px;
  display: inline-block;
}
.top_header .top_navigation .ale_headermenu li {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  height: 90px;
  position: relative;
  margin-right: 2px;
}
.top_header .top_navigation .ale_headermenu li:hover .sub-menu {
  display: block;
}
.top_header .top_navigation .ale_headermenu li .sub-menu {
  background-color: #FFF;
  color: #959b9a;
  width: 140px;
  box-sizing: border-box;
  border-top: 3px solid #eedf9c;
  margin-top: -3px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: none;
}
.top_header .top_navigation .ale_headermenu li .sub-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  margin-top: -7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 4px 3.5px;
  border-color: transparent transparent #eedf9c transparent;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li {
  color: #959b9a;
  font-size: 13px;
  display: block;
  height: 40px;
  line-height: 40px;
  float: none;
  width: 100%;
  margin: 0;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li.menu-item-has-children::after {
  content: "\f054";
  font: normal normal normal 6px/1 FontAwesome;
  position: absolute;
  top: 50%;
  left: 80%;
  margin-top: -3px;
  color: #eedf9c;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li:hover .sub-menu {
  display: block;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  border: 0;
  border-left: 2px solid #f7f7f7;
  display: none;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li .sub-menu::before {
  display: none;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li:last-child a {
  border-bottom: 0;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li a {
  color: inherit;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  display: block;
  line-height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4dad9;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .top_navigation .ale_headermenu li .sub-menu li a:hover {
  color: #804258;
  text-decoration: underline;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .top_navigation .ale_headermenu li.current_page_item a,
.top_header .top_navigation .ale_headermenu li.current-menu-item a {
  color: #eedf9c;
}
.top_header .top_navigation .ale_headermenu li::after {
  content: "\f111";
  font: normal normal normal 4px/1 FontAwesome;
  color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  float: left;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -2px;
}
.top_header .top_navigation .ale_headermenu li:first-child a {
  padding-left: 0;
}
.top_header .top_navigation .ale_headermenu li:last-child::after {
  display: none;
}
.top_header .top_navigation .ale_headermenu li a {
  color: inherit;
  padding: 0 30px 0 30px;
  display: block;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .top_navigation .ale_headermenu li a:hover {
  color: #eedf9c;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: url(img/bottom.png) repeat-x center center;
  position: absolute;
  top: 100%;
  z-index: 1;
}
.top_header .header_third {
  width: 33.3%;
  float: left;
}
.top_header .header_third.search_section {
  line-height: 105px;
}
.top_header .header_third.search_section .menu_icon {
  display: inline-block;
  float: left;
  line-height: 110px;
}
.top_header .header_third.search_section .menu_icon i {
  font-size: 20px;
  color: #262626;
  cursor: pointer;
}
.top_header .header_third.search_section .search_box {
  display: inline-block;
  float: left;
  margin-left: 30px;
}
.top_header .header_third.search_section .search_box #searchform fieldset::before {
  content: "\f002";
  font: normal normal normal 12px/1 FontAwesome;
  display: inline-block;
  color: #d4dad9;
  margin-right: 6px;
}
.top_header .header_third.search_section .search_box #searchsubmit {
  display: none;
}
.top_header .header_third.search_section .search_box input.searchinput {
  border: none;
  color: #959b9a;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.search_section .search_box input.searchinput:-moz-placeholder {
  /* Firefox 18- */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.top_header .header_third.logo_section {
  text-align: center;
  line-height: 105px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.logo_section:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section {
  text-align: right;
  font-size: 20px;
  color: #d4dad9;
  line-height: 105px;
}
.top_header .header_third.social_section a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section a:hover {
  color: #959b9a;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.top_header .header_third.social_section i {
  margin-left: 30px;
}
.home_slider {
  overflow-x: hidden;
}
.home_slider .flexslider {
  width: 50%;
  float: left;
  position: relative;
}
.home_slider .flexslider .flex-prev {
  display: block;
  position: absolute;
  left: 100%;
  top: 100%;
  margin-left: -40px;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
}
.home_slider .flexslider .flex-next {
  display: block;
  position: absolute;
  left: 100%;
  top: 100%;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFFFFF;
  font-size: 28px;
  line-height: 40px;
}
.home_slider ul.slides li {
  display: block;
  width: 100%;
}
.home_slider ul.slides li figure {
  position: relative;
}
.home_slider ul.slides li figure figcaption {
  background-color: rgba(128, 66, 88, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  text-align: left;
}
.home_slider ul.slides li figure figcaption .mainslidertitle {
  display: block;
  padding-top: 80px;
  padding-left: 80px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "Playfair Display";
}
.home_slider ul.slides li figure figcaption .mainsliderdesc {
  display: block;
  padding-left: 80px;
  padding-right: 20%;
  font-size: 54px;
  color: #FFFFFF;
  font-family: "Playfair Display";
}
.home_slider ul.slides li figure figcaption .sliderlinkmore {
  background-color: #ffefa7;
  color: #804258;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 40px;
  width: 100px;
  height: 40px;
  display: block;
  margin-left: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 5px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_slider ul.slides li figure figcaption .sliderlinkmore:hover {
  background-color: #000000;
  color: #FFFFFF;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.home_slider ul.slides li.flex-active-slide figure figcaption {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}
.home_slider ul.slides li img {
  max-width: 100%;
  height: auto;
}
/*
Footer Styles
*/
footer.main-footer {
  min-height: 470px;
  background: #FFF url(img/footer.png) bottom center no-repeat;
}
footer.main-footer .top_footer {
  min-height: 350px;
}
footer.main-footer .top_footer .footer_inner {
  margin-top: 75px;
  float: left;
}
footer.main-footer .top_footer .footer_inner.contact,
footer.main-footer .top_footer .footer_inner.menu_info,
footer.main-footer .top_footer .footer_inner.footer_logo {
  width: 22.2%;
}
footer.main-footer .top_footer .footer_inner.twitter {
  width: 33.3%;
}
footer.main-footer .top_footer .footer_inner.contact {
  font-family: Arial, Helvetica, sans-serif;
  color: #b4b4b4;
}
footer.main-footer .top_footer .footer_inner.contact h5 {
  font-size: 18px;
  color: #000;
  text-transform: none;
  margin: 10px 0 20px 0;
}
footer.main-footer .top_footer .footer_inner.contact .footer_address {
  font-size: 12px;
  margin-bottom: 10px;
}
footer.main-footer .top_footer .footer_inner.contact .footer_phone {
  font-size: 18px;
  margin-bottom: 10px;
}
footer.main-footer .top_footer .footer_inner.contact .footer_email {
  font-size: 11px;
}
footer.main-footer .top_footer .footer_inner.contact .footer_email a {
  color: inherit;
}
footer.main-footer .top_footer .footer_inner.menu_info {
  font-family: Arial, Helvetica, sans-serif;
}
footer.main-footer .top_footer .footer_inner.menu_info h5 {
  font-size: 18px;
  color: #000;
  text-transform: none;
  margin: 10px 0 20px 0;
}
footer.main-footer .top_footer .footer_inner.menu_info ul.footermenu {
  color: #b4b4b4;
  font-size: 11px;
  line-height: 24px;
}
footer.main-footer .top_footer .footer_inner.menu_info ul.footermenu a {
  color: inherit;
}
footer.main-footer .top_footer .footer_inner.menu_info ul.footermenu a:hover {
  text-decoration: underline;
}
footer.main-footer .bottom_footer {
  min-height: 120px;
  line-height: 120px;
  position: relative;
}
footer.main-footer .bottom_footer::before {
  content: "";
  width: 37%;
  display: block;
  height: 1px;
  border-top: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
}
footer.main-footer .bottom_footer::after {
  content: "";
  width: 37%;
  display: block;
  height: 1px;
  border-top: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  right: 0;
}
footer.main-footer .bottom_footer .copyrights {
  float: left;
  width: 35%;
  color: #d4dad9;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
footer.main-footer .bottom_footer .footer_social {
  float: right;
  width: 35%;
  text-align: right;
  font-size: 20px;
  color: #d4dad9;
  line-height: 105px;
}
footer.main-footer .bottom_footer .footer_social a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.main-footer .bottom_footer .footer_social a:hover {
  color: #959b9a;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.main-footer .bottom_footer .footer_social i {
  margin-left: 30px;
}
.widget_latest_tweets_widget {
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.widget_latest_tweets_widget .footer_widget_title {
  font-size: 12px;
  color: #b4b4b4;
  text-transform: none;
  line-height: 24px;
  margin-bottom: 0;
}
.widget_latest_tweets_widget .footer_widget_title::before {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  content: "\f099";
  color: #5ad2ff;
  margin-right: 7px;
}
.widget_latest_tweets_widget .latest-tweets {
  font-size: 11px;
  color: #b4b4b4;
  line-height: 20px;
  position: relative;
}
.widget_latest_tweets_widget .latest-tweets time {
  font-size: 10px;
}
.widget_latest_tweets_widget .latest-tweets a {
  color: inherit;
}
.widget_latest_tweets_widget .latest-tweets ul li {
  margin-top: 30px;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -24px;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav li {
  display: inline-block;
  font-size: 0;
  margin: 5px;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav li a {
  width: 6px;
  height: 6px;
  display: block;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav li a.flex-active::before {
  color: #999999;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav li a::before {
  content: "\f111";
  display: inline-block;
  font: normal normal normal 6px/1 FontAwesome;
  color: #e5e5e5;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.widget_latest_tweets_widget .latest-tweets .flex-control-nav li a::before:hover {
  color: #999999;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.inner_header {
  min-height: 68px;
  background-color: #7f4258;
  color: #b18b99;
  text-align: center;
  font-family: 'Droid Serif', serif;
}
.inner_header .breadcrumbs {
  padding-top: 30px;
}
.inner_header a {
  color: #FFF;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.inner_header a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.container {
  margin-top: 40px;
}
.container h2.page_title {
  text-align: center;
  color: #7f4258;
  font-size: 64px;
  text-transform: none;
  margin-bottom: 45px;
  font-family: 'Playfair Display SC', serif;
}
.container .page_content {
  color: #a3a3a3;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}
.container .page_content p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.container .contacts_data {
  margin-bottom: 90px;
  margin-left: 80px;
  margin-right: 80px;
}
.container .contacts_data .third_part {
  width: 33.3%;
  float: left;
}
.container .contacts_data .third_part.emailbox {
  box-sizing: border-box;
  padding-left: 40px;
}
.container .contacts_data .third_part i.fa {
  font-size: 18px;
  color: #eedf9c;
  margin-right: 10px;
}
.container .contacts_data .third_part span.label {
  display: block;
  font-size: 12px;
  color: #a3a3a3;
  line-height: 24px;
}
.container .contacts_data .third_part span.value {
  margin-left: 26px;
  font-size: 15px;
}
.container .contacts_data .third_part span.value.phone_number {
  font-size: 28px;
  color: #000;
}
.container .contacts_data .third_part span.value a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.container .contacts_data .third_part span.value a:hover {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.contact_form {
  margin-bottom: 80px;
}
.contact_form .inner_page_title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.contact_form .inner_page_title h3.inner_title {
  font-size: 24px;
  color: #000;
  display: inline-block;
  text-transform: none;
}
.contact_form .inner_page_title h3.inner_title::before {
  content: "";
  height: 1px;
  border-top: 1px solid #f2f2f2;
  width: 37%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
}
.contact_form .inner_page_title h3.inner_title::after {
  content: "";
  height: 1px;
  border-top: 1px solid #f2f2f2;
  width: 37%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
}
.contact_form .item_line {
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}
.contact_form .item_line .item_input {
  width: 31.3%;
  margin-right: 3%;
  float: left;
  box-sizing: border-box;
}
.contact_form .item_line .item_input:last-child {
  margin-right: 0;
}
.contact_form .item_line input[type="text"],
.contact_form .item_line input[type="email"] {
  border: 1px solid #eeeeee;
  font-size: 12px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  height: 48px;
  color: #d4dad9;
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 20px;
  padding-right: 20px;
}
.contact_form .item_line input[type="text"]::-webkit-input-placeholder,
.contact_form .item_line input[type="email"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line input[type="text"]::-moz-placeholder,
.contact_form .item_line input[type="email"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line input[type="text"]:-ms-input-placeholder,
.contact_form .item_line input[type="email"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line input[type="text"]:-moz-placeholder,
.contact_form .item_line input[type="email"]:-moz-placeholder {
  /* Firefox 18- */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line textarea {
  border: 1px solid #eeeeee;
  font-size: 12px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
  color: #d4dad9;
  width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 20px;
}
.contact_form .item_line textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #d4dad9;
  font-size: 12px;
  font-style: italic;
}
.contact_form .item_line input.submit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  background: #7f4258;
  height: 50px;
  padding: 0 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.contact_map {
  position: relative;
}
.contact_map::before {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
